
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             25px;
$font-height:           3;

//== Color

$color-foreground:      #e07715;
$color-background:      #1d1a1d;
$color-link:            rgb(32, 179, 224);

//== Grid

$max_col: 12;
